<MudContainer MaxWidth="MaxWidth.Small" Class="mb-16" id="contact" Style="scroll-margin-top: 70px;">
    <MudText Typo="Typo.h4" Class="mb-8 d-flex justify-center" Style="font-weight: bold;">
        Contact
    </MudText>
    <MudCard Elevation="2">
        <MudCardContent>
            <MudForm @ref="form" @bind-IsValid="@success">
                <MudTextField T="string"
                              Label="Name"
                              Required="true"
                              RequiredError="Name is required"
                              @bind-Value="contactModel.Name"
                              Variant="Variant.Outlined"
                              Class="mb-4" />

                <MudTextField T="string"
                              Label="Email Address"
                              Required="true"
                              RequiredError="Email is required"
                              @bind-Value="contactModel.Email"
                              Variant="Variant.Outlined"
                              Class="mb-4" />

                <MudTextField T="string"
                              Label="Message"
                              Lines="5"
                              Required="true"
                              RequiredError="Message is required"
                              @bind-Value="contactModel.Message"
                              Variant="Variant.Outlined"
                              Class="mb-4" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Dark"
                           Disabled="@(!success || sending)"
                           OnClick="@SendEmail"
                           StartIcon=@Icons.Custom.Brands.Telegram>

                    @if (sending)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                        <span>Sending...</span>
                    }
                    else
                    {
                        <span>Send Message</span>
                    }

                </MudButton>
            </MudForm>
        </MudCardContent>
    </MudCard>
</MudContainer>