.name {
    display: flex;
    justify-content: flex-start;
}

.content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: white;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
}

@media (max-width: 600px) {
    .name {
        flex: none;
    }
}
