.name {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.content {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-direction: column;
}

footer {
    background-color: black;
}

@media (max-width: 600px) {
    .name {
        flex: none;
    }
}
