<footer>
    <div class="name">
        <MudText Typo="Typo.h4" Color="Color.Primary" Style="font-weight:bold;">Abbie Hooper</MudText>
    </div>
    <div class="content">
        <div class="d-flex gap-2">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Default" Href="https://github.com/abbie-codes" Target="_blank" />
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Default" Href="https://www.linkedin.com/in/abbie-unwin-035104186/" Target="_blank" />
            <MudIconButton Icon="@MediumIcon" Color="Color.Default" Href="_mediumUrl" Target="_blank" />
            <MudIconButton Icon="@FigmaIcon" Color="Color.Default" Href="_figmaUrl" Target="_blank" />
        </div>
    </div>
</footer>

@code {
    private readonly string _mediumUrl = "https://medium.com/@abigailunwin";
    private readonly string _figmaUrl = "https://www.figma.com/@abbiehooper";
    private const string MediumIcon = @"<svg viewBox=""0 0 24 24"" fill=""currentColor"">
        <path d=""M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zM20.96 12c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42 3.38 2.88 3.38 6.42M24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z""/>
    </svg>";
    private const string FigmaIcon = @"<svg viewBox=""0 0 1024 1280"" fill=""currentColor"">
        <path d=""M312 840C312 784.772 356.772 740 412 740H512V840C512 895.228 467.228 940 412 940C356.772 940 312 895.228 312 840Z"" fill=""#24CB71""/>
        <path d=""M512 340V540H612C667.228 540 712 495.228 712 440C712 384.772 667.228 340 612 340H512Z"" fill=""#FF7237""/>
        <path d=""M611.167 740C666.395 740 711.167 695.228 711.167 640C711.167 584.772 666.395 540 611.167 540C555.939 540 511.167 584.772 511.167 640C511.167 695.228 555.939 740 611.167 740Z"" fill=""#00B6FF""/>
        <path d=""M312 440C312 495.228 356.772 540 412 540H512V340H412C356.772 340 312 384.772 312 440Z"" fill=""#FF3737""/>
        <path d=""M312 640C312 695.228 356.772 740 412 740H512V540H412C356.772 540 312 584.772 312 640Z"" fill=""#874FFF""/>
    </svg>";
}
