.name {
    display: flex;
    justify-content: flex-start;
}

.content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: var(--mud-palette-appbar-text);
    width: 100%;
}

footer {
    background: var(--mud-palette-appbar-background);
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    box-shadow: 1px -2px 1px -1px rgba(0, 0, 0, 0.2), 3px -1px 3px 0px rgba(0, 0, 0, 0.12), 1px -1px 1px 0px rgba(0, 0, 0, 0.14);
}

@media (max-width: 600px) {
    .name {
        flex: none;
    }
}
