.name {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.theme {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .name {
        flex: none;
    }
}