@using AbbiePortfolio.Components.ComponentLibrary
@using AbbiePortfolio.Components.Pages
<MudAppBar Elevation="1" Fixed="true">
    <div class="name">
        <MudText Typo="Typo.h4" Color="Color.Primary" Style="font-weight:bold;">Abbie Hooper</MudText>
    </div>

    <div class="nav-links">
        <NavigateToSectionLink SectionId="projects" Title="Projects" HoverColour=@HoverPink />
        <NavigateToSectionLink SectionId="blog" Title="Blog" HoverColour=@HoverBlue />
        <NavigateToSectionLink SectionId="contact" Title="Contact" HoverColour=@HoverGreen />
    </div>

    <div class="theme">
        <MudIconButton Icon="@(IsDarkMode? Icons.Material.Outlined.LightMode : Icons.Material.Outlined.DarkMode)"
                       Style="@($"color: {IconText}; background:{IconColour};")"
                       OnClick="@DarkModeToggle" />
    </div>
</MudAppBar>

@code {
    [Parameter]
    public bool IsDarkMode { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsDarkModeChanged { get; set; }

    private void DarkModeToggle()
    {
        IsDarkMode = !IsDarkMode;
        IsDarkModeChanged.InvokeAsync(IsDarkMode);
    }

    private string IconColour => IsDarkMode ? Colors.Gray.Darken4 : Colors.DeepOrange.Lighten4;
    private string IconText => IsDarkMode ? Colors.DeepOrange.Default : Colors.Shades.Black;
    private string HoverPink => IsDarkMode ? Colors.Pink.Darken2 : Colors.Pink.Lighten4;
    private string HoverBlue => IsDarkMode ? Colors.Blue.Darken2 : Colors.Blue.Lighten4;
    private string HoverGreen => IsDarkMode ? Colors.Green.Darken2 : Colors.Green.Lighten4;
}