.text-background {
    color: var(--mud-palette-background);
    background-color: var(--mud-palette-text-primary);
}

#introduction ::deep .avatar {
  overflow: hidden;
}

#introduction ::deep .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    display: block;
}