<MudContainer MaxWidth="MaxWidth.Large" Class="mt-8 mb-16" id="intro">
    <MudGrid AlignItems="Center" Spacing="1">
        <MudItem xs="12" md="5" Class="d-flex justify-end">
            <MudAvatar Style="width: 300px; height: 300px; margin: auto;">
                <MudImage Src="" Alt="Abbie's photo" />
            </MudAvatar>
        </MudItem>
        <MudItem xs="12" md="7">
            <MudText Typo="Typo.h3" Class="mb-4" Style="font-weight: bold;">
                Hi, I'm Abbie and I'm <br /> an 
                <span class="text-background">ASP.NET Developer</span>.
            </MudText>
            <MudText Typo="Typo.body1">
                I am a full stack software engineer working with ASP.NET. With 3 years of experience
                working in the industry, I specialise in web applications. I'm passionate about creating
                efficient, beautiful web applications that deliver great user experiences.
            </MudText>
        </MudItem>
    </MudGrid>
</MudContainer>
