<div id="introduction">
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8 mb-16">
    <MudGrid AlignItems="Center" Spacing="1">
        <MudItem xs="12" md="5" Class="d-flex justify-end">
            <MudAvatar Class="avatar" Style="width: 300px; height: 300px; margin: auto;">
                <MudImage Src="/images/profile-photo-1.png" Alt="Image of Abbie" Class="avatar-img" />
            </MudAvatar>
        </MudItem>
        <MudItem xs="12" md="7">
            <MudText Typo="Typo.h3" Class="mb-4" Style="font-weight: bold;">
                Hi, I'm Abbie and I'm <br /> an 
                <span class="text-background">ASP.NET Developer</span>
            </MudText>
            <MudText Typo="Typo.body1" Class="mb-4">
                With over 3 years of experience as a full stack software engineer for global insurance company Howden.
                I'm passionate about creating web applications that deliver great user experiences.
            </MudText>
            <MudButton Variant="Variant.Outlined"
                Color="Color.Primary"
                Size="Size.Medium"
                Target="_blank"
                StartIcon=@Icons.Material.Filled.Download>
                Download CV
            </MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>
</div>
