@using AbbiePortfolio.Components.ComponentLibrary
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <Header IsDarkMode="_isDarkMode" IsDarkModeChanged="@((value) => _isDarkMode = value)" />
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>

    <MudToolBar>
        <MudText>
            Copyright © 2025 Abigail Unwin
        </MudText>
    </MudToolBar>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {    
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteLight = _lightPalette,
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties(),
            Typography = _typography,
        };
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#f04a28",
        Secondary = "#7f1a01",
        TextPrimary = "#000",

        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        OverlayLight = "#ffd1b6",
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#f04a28",
        Secondary = "#7f1a01",

        Surface = "#1e1e2d",
        Background = "#1a1a27",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#fff",
        TextSecondary = "#b2b0bf",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#ffd1b6",
    };

    private static readonly string[] headingFontArray = new[] { "Crimson Pro", "Helvetica", "Arial", "sans-serif" };

    private readonly Typography _typography = new Typography()
    {
        Default = new DefaultTypography()
        {
            FontFamily = new[] { "Inter", "Helvetica", "Arial", "sans-serif" },
        },
        H1 = new H1Typography { FontFamily = headingFontArray },
        H2 = new H2Typography { FontFamily = headingFontArray },
        H3 = new H3Typography { FontFamily = headingFontArray },
        H4 = new H4Typography { FontFamily = headingFontArray },
        H5 = new H5Typography { FontFamily = headingFontArray },
        H6 = new H6Typography { FontFamily = headingFontArray }
    };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}