<MudForm @ref="form" @bind-IsValid="@success" ValidationDelay="0">
    <MudTextField T="string"
                  Label="Name"
                  @bind-Value="contactModel.Name"
                  For="@(() => contactModel.Name)"
                  Immediate="true"
                  Variant="Variant.Outlined"
                  Style="font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;"
                  Class="mb-4" />
    <MudTextField T="string"
                  Label="Email Address"
                  @bind-Value="contactModel.Email"
                  For="@(() => contactModel.Email)"
                  Immediate="true"
                  Variant="Variant.Outlined"
                  Style="font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;"
                  Class="mb-4" />
    <MudTextField T="string"
                  Label="Message"
                  Lines="5"
                  @bind-Value="contactModel.Message"
                  For="@(() => contactModel.Message)"
                  Style="font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;"
                  Immediate="true"
                  Variant="Variant.Outlined"
                  Class="mb-4" />
    <div class="d-flex justify-end">
        <Button ButtonText="Send Message →"
                OnClick="SendEmail" 
                CanSubmit="CanSubmit" 
                LoadingText="Sending..."
                Loading="sending" />
    </div>
</MudForm>
