.contact-form-wrapper {
    width: 100%;
    border: 1px solid var(--mud-palette-divider);
    padding: 2.5rem;
}

@media (max-width: 600px) {
    .contact-card-wrapper {
        padding: 1.5rem;
    }
}
