::deep .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root,
::deep .mud-input-outlined-border {
    border-radius: 9999px !important;
}

::deep .mud-button-filled.mud-button-filled-primary {
    width: 120px;
    margin-left: -120px;
    padding: 0.9rem;
    color: white !important;
}

::deep .mud-button-filled:disabled {
    background-color: var(--mud-palette-primary) !important;
    border: 1px solid var(--mud-palette-lines-inputs);
    --mud-ripple-opacity: var(--mud-ripple-opacity-secondary) !important;
}

.width-500 {
    max-width: 500px;
}
