@page "/blog"
@using AbbiePortfolio.Components.ComponentLibrary
@using static AbbiePortfolio.Constants.BlogCategories.Categories;

<MudContainer MaxWidth="MaxWidth.Large" Class="mb-16" id="projects" Style="scroll-margin-top: 70px;">
    <MudText Typo="Typo.h4" Class="mb-8 d-flex" Style="font-weight: bold;">
        Blog
    </MudText>
    <EmailSubscribeButton />
    <MudTabs Style="margin-bottom: 1rem;">
        <MudTabPanel Text="View all">
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach(var post in Blogs)
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost="@post"/>
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@Fundamentals>
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach (var post in GetBlogPosts(Fundamentals))
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost=@post />
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@Architecture>
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach (var post in GetBlogPosts(Architecture))
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost=@post />
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@QualityAssurance>
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach (var post in GetBlogPosts(QualityAssurance))
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost=@post />
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@ToolsAndSkills>
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach (var post in GetBlogPosts(ToolsAndSkills))
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost=@post />
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@Design>
            <MudGrid Spacing="4" Style="margin-top: 5px;">
                @foreach (var post in GetBlogPosts(Design))
                {
                    <MudItem xs="12" sm="6">
                        <BlogCard BlogPost=@post />
                    </MudItem>
                }
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=@Resources>
            <div style="margin-top: 5px;">
                <ul>
                    <li>
                        System design: https://www.hellointerview.com/learn/system-design/in-a-hurry/introduction
                    </li>
                    <li>
                        Data structures and algorithms: https://www.hellointerview.com/learn/code
                    </li>
                </ul>
            </div>
        </MudTabPanel>
    </MudTabs>
</MudContainer>
