:root {
    --hover-color: #FFCCBC;
}

.section-link {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    font-weight: 600;
    padding: 2px 8px;
}

    .section-link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--hover-color);
        transition: width 0.3s ease-out;
        z-index: -1;
    }

    .section-link:hover::before {
        width: 100%;
    }
